@theme {
  /*
  |--------------------------------------------------------------------------
  | Colors
  |--------------------------------------------------------------------------
  */
  --color-background: var(--background);
  --color-background-subtle: var(--background-subtle);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-subtle: var(--primary-subtle);
  --color-primary-foreground: var(--primary-foreground);

  --color-info: var(--info);
  --color-info-hover: var(--info-hover);
  --color-info-foreground: var(--info-foreground);

  --color-success: var(--success);
  --color-success-hover: var(--success-hover);
  --color-success-foreground: var(--success-foreground);

  --color-warning: var(--warning);
  --color-warning-hover: var(--warning-hover);
  --color-warning-subtle: var(--warning-subtle);
  --color-warning-foreground: var(--warning-foreground);

  --color-danger: var(--danger);
  --color-danger-hover: var(--danger-hover);
  --color-danger-foreground: var(--danger-foreground);

  /*
  |--------------------------------------------------------------------------
  | Spacing
  |--------------------------------------------------------------------------
  */
  --spacing-none: var(--spacing-none);
  --spacing-xxs: var(--spacing-xxs);
  --spacing-xs: var(--spacing-xs);
  --spacing-sm: var(--spacing-sm);
  --spacing-md: var(--spacing-md);
  --spacing-lg: var(--spacing-lg);
  --spacing-xl: var(--spacing-xl);
  --spacing-2xl: var(--spacing-2xl);
  --spacing-3xl: var(--spacing-3xl);
  --spacing-4xl: var(--spacing-4xl);
  --spacing-5xl: var(--spacing-5xl);

  /*
  |--------------------------------------------------------------------------
  | Radius
  |--------------------------------------------------------------------------
  */
  --radius-none: var(--radius-none);
  --radius-xs: var(--radius-xs);
  --radius-sm: var(--radius-sm);
  --radius-md: var(--radius-md);
  --radius-lg: var(--radius-lg);
  --radius-xl: var(--radius-xl);
  --radius-2xl: var(--radius-2xl);
  --radius-3xl: var(--radius-3xl);
  --radius-full: var(--radius-full);

  /*
  |--------------------------------------------------------------------------
  | Typography
  |--------------------------------------------------------------------------
  */

  --font-inter: var(--font-inter);
  --font-outfit: var(--font-outfit);
}
