:root {
  --background: #ffffff;
  --background-subtle: #f8f9ff;
  --foreground: #000000;

  --primary: #dc2626;
  --primary-hover: #b91c1c;
  --primary-subtle: #fecaca;
  --primary-foreground: #ffffff;

  --info: #60a5fa;
  --info-hover: #3b82f6;
  --info-foreground: #ffffff;

  --success: #16a34a;
  --success-hover: #15803d;
  --success-foreground: #ffffff;

  --warning: #ca8a04;
  --warning-hover: #a16207;
  --warning-subtle: #fefce8;
  --warning-foreground: #ffffff;

  --danger: #dc2626;
  --danger-hover: #b91c1c;
  --danger-foreground: #ffffff;
}
